html {
    background-image: url('images/background-img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.countdown {  
    font-family: $font-main-1;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    color: $c-white;

    @media (min-width: 374px) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width: 992px) {   
        text-align: left;
        font-size: 1.1rem;
    }

    @media (min-width: 1200px) {
        top: 50%,;
        right: 50%;
        transform: translate(50%, -50%);
    }

    @media (min-width: 1920px) {
        max-width: 1920px;
    }

    &__logo {
        display: block;
        width: 250px;
        height: auto;
        margin: 0 auto 2rem auto;

        @media (min-width: 992px) {
            width: 300px;
        }
    }

    &__desc {
        font-family: $font-main-2;
        text-align: center;
        line-height: 1.5;
        margin: 0 0 2.5rem 0;

        @media (min-width: 992px) {
            text-align: left;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        font-family: $font-main-2;
        margin-bottom: 2.5rem;
    }

    &__item-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item-count {
        font-size: 1.5rem;
        flex: 0 0 100%;
        text-align: center;

        @media (min-width: 992px) {
            font-size: 1.7rem;
        }
    }

    &__item {   
        text-align: center;
        width: 100%;
    }

    &__sub-desc {
        font-family: $font-main-2;
        text-align: center;
        margin: 0 0 1.25rem 0;
    }

    &__instagram {
        display: block;
        position: relative;
        margin: 0 auto 2.25rem auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.3);
        transition: .25s ease;

        @media (min-width: 1200px) {
            &:hover {
                background-color: $c-white;

                .countdown__instagram-svg {
                    fill: $c-black;
                }
            }
        }
    }

    &__instagram-svg{
        transition: .25s ease;
    }

    &__instagram-svg {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        width: 32px;
        height: 32px;
        fill: $c-white;
    }

    &__cooperation {
        @media (min-width: 1200px) {
            position: absolute;
            top: 100%;
            right: -40%;
        }
    }

    &__hfu-wrapper {
        display: block;
        width: 110px;
        margin: 0 auto;
    }

    &__hfu-logo {
        width: 100%;
        height: auto;
    }
}